/* Tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Better buttons and inputs for all pages */

button{
    background-color: #0C2D48;
}

input{
    border-radius: .5rem;
    background-color: #145DA0;
}

label,
input,
button{
    padding: 4px;
    font-family: 'Gothic A1', sans-serif;
}

h2,
h3{
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    text-align: center;

}

p{
    text-align: center;
}

#searchResults{
    font-family: 'Bebas Neue';
    color: #B1D4E0;
}

/* On larger screens, increase font size. */
@media screen and (min-width: 486px){
    h2,
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 720px){
    h2,
    h3{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
}